footer {
    height: 121px;
    width: 320px;
    padding-bottom: 31px;
    .p-footer {
        width: 227px;
        height: 22px;
        margin: 24px 46px 16px 47px;
        text-align: center;
        font-family: $font1;
        font-size: 14px;
    }

    a {
        background: none;

        i {
            font-family: FontAwesome5Brands-Regular;
            font-size: 16px;
            color: #060A24; 
            letter-spacing: 0;
            line-height: 28px;
            width: 16px;
            height: 28px;
        }
    }
    
}

.iconos-flex {
    display: flex;
}

footer {
    a:nth-of-type(1) {
        margin: 16px 19px 31px 45px;
    }
    a:nth-of-type(2),
    a:nth-of-type(3),
    a:nth-of-type(4) {
        margin: 16px 19px 31px;
    }
    a:nth-of-type(5) {
        margin: 16px 45px 31px 19px;
    }
}

footer {
    a:nth-of-type(2) {
        width: 14px;
    }
}

@media only screen and (min-width: 321px) {
    footer {
        height: 95px;
        width: 1440px;
        display: flex;
        .p-footer {
            display: flex;
            padding-left: 100px;
            padding-top: 36px;
            height: 28px;
            width: 380px;
            margin: 0;
        }
        .iconos-flex {
            display: contents;
            width: 232px;
            
        }
        a:nth-of-type(1) {
            margin: 36px 0 31px 739px;
        }
        a:nth-of-type(2) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(3) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(4) {
            margin: 36px 0 31px 36px;
        }
        a:nth-of-type(5) {
            margin: 36px 100px 31px 36px;
        }
    }
}